nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
}

nav a{
    text-decoration: none;
}

nav img{
    width: 139px;
    height: auto;
    display: block;
}

nav ul li a:hover {
    color: #30B868;
}

.btn {
    background-color: #30B868;
    color: white;
    padding: 12px 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 1;
}