body{
    margin: 0;
    padding: 0;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
}

nav a{
    text-decoration: none;
}

nav img{
    width: 139px;
    height: auto;
    display: block;
}

nav ul li a:hover{
    color: #30B868;
}

.btn{
    background-color: #30B868;
    color: white;
    padding: 12px 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 1;
}
.btn:hover {
    background-color: #10b720;
}
.hero-container{
    position: relative;
    width: 100%;
    height: 800px;
    background: url(../assets/hero-bg.png) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.hero-content{
    position: relative;
    width: 1400px; 
    text-align: center;
    color: #ffffff;
}

.badge-row{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.status-badge{
    background:rgba(255, 255, 255, 0.446);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.status-dot{
    height: 10px;
    width: 10px;
    background-color: #4ade80;
    border-radius: 50%;
    box-shadow: 0 0 10px #4ade80;
}

.hero-title{
    font-size: 64px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 24px;
    letter-spacing: -1px;
}

.green-text{
    color: #3ca36b;
}

.hero-desc{
    font-size: 20px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    width: 700px;
    margin: 0 auto 40px auto;
}

.actions-row{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.btn-vault{
    background-color: #3ca36b;
    color: white;
    padding: 18px 35px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.btn-vault:hover{
    background-color: #89903e;
}

.btn-watch{
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    padding: 18px 35px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
}

.btn-watch:hover{
    background-color: rgba(214, 199, 195, 0.899);
    border-color: #ffffff;
}
.cards-section{
    width: 100%;
    background-color: #f9f9f9;
    padding: 40px 0 120px 0;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.cards-container{
    width: 1200px;
}

.cards-header{
    text-align: center;
    margin-bottom: 30px;
}

.cards-main-title{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
}

.cards-sub-title{
    font-size: 18px;
    color:var(--#627382, rgba(98, 115, 130, 1));
    font-family: 'Inter', sans-serif;
}

.cards-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-card{
    background-color: #ffffff;
    width: 280px;
    padding: 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.icon-box{
    width: 60px;
    height: 60px;
    background-color: #ff5f5f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 25px auto;
}

.info-card h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    margin-bottom: 15px;
    line-height: 29px;
}

.info-card p{
    font-size: 15px;
    line-height: 1.6;
    color: var(--#627382, rgba(98, 115, 130, 1));
}
.brain{
    width:100%;
    margin: 0 auto;
    padding: 60px 0 100px 0;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.brain-container{
    width: 1200px;
    min-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brain-left {
    width: 500px;
}

.brain-img{
    width: 100%;
    display: block;
}

.brain-right{
    width: 600px;
}

.brain-tag{
    color: #3ca36b;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 15px;
}

.brain-title{
    font-size: 44px;
    font-weight: 800;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    line-height: 1.2;
    margin-bottom: 25px;
    text-align: left;
}

.brain-desc{
    font-size: 14px;
    line-height: 1.6;
    color: var(--#627382, rgba(98, 115, 130, 1));
    margin-bottom: 35px;
    text-align: left;
    font-weight: 400;
    text-align: left;
}

.brain-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-item{
    display: flex;
    align-items: center;
    gap: 15px;
}

.list-item p{
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    margin: 0;
}